coreapi==2.1.1
coreapi-cli==1.0.6
Django==1.10.5
django-cors-headers==2.0.1
django-filter==1.0.1
djangorestframework==3.5.3
httpie==0.9.9
isort==4.2.5
itypes==1.1.0
lazy-object-proxy==1.2.2
MacFSEvents==0.7
Markdown==2.6.7
mccabe==0.6.1
olefile==0.44
python-termstyle==0.1.10
twine==1.8.1
uritemplate==3.0.0
virtualenv==15.1.0
wrapt==1.10.8
